.vis-network {
    width: 99vw !important;
    height: 98vh !important;
}
table.legend_table {
    font-size: 30px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
   width:100px;
}
